:root {
  --ion-color-primary: #0056c4;
  --ion-color-primary-rgb: 0, 86, 196;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #004cad;
  --ion-color-primary-tint: #1a67ca;

  --ion-color-success: #006d33;
  --ion-color-danger: #ba1a1a;
  --ion-color-warning: #ffc409;
  --ion-background-color: #f9f9ff;
}
